/* replace "readers" */
/* danodemano edit 20140821 */
/*Subscribers*/
.subscribers .word {
display: none;
}
.subscribers .number::after {
content: " Subscribed Turkers";
}
/*users here now*/
.users-online .word {
display: none;
}
.users-online .number::after {
content: " Turkers here now";
}
/* End danodemano edit 20140821 */
/*Flair*/
/* Begin link flair - danodemano 20140825 */
.linkflair-discussion .linkflairlabel {
    background-color: #66ff00;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
.linkflair-advice .linkflairlabel {
    background-color: #66ff00;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
.linkflair-qualhit .linkflairlabel {
    background-color: #66ff00;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
.linkflair-scriptssoftware .linkflairlabel {
    background-color: #00ffff;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
.linkflair-requestorhelp .linkflairlabel {
    background-color: #ff9900;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
.linkflair-requestorannouncement .linkflairlabel {
    background-color: #ff9900;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
.linkflair-watercooler .linkflairlabel {
    background-color: #cccccc;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
.linkflair-articleblog .linkflairlabel {
    background-color: #0000ff;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
.linkflair-misc .linkflairlabel {
    background-color: #add5ab;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
.linkflair-mod .linkflairlabel {
    background-color: #ffff00;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    border-color: #000000;
    border-width: 1px;
    border-radius: 3px;
}
html:lang(di) .link:not(.linkflair-discussion) {
    display: none    }
html:lang(ad) .link:not(.linkflair-advice) {
    display: none    }
html:lang(qh) .link:not(.linkflair-qualhit) {
    display: none    }
html:lang(ss) .link:not(.linkflair-scriptssoftware) {
    display: none    }
html:lang(rh) .link:not(.linkflair-requestorhelp) {
    display: none    }
html:lang(ra) .link:not(.linkflair-requestorannouncement) {
    display: none    }
html:lang(wc) .link:not(.linkflair-watercooler) {
    display: none    }
html:lang(ab) .link:not(.linkflair-articleblog) {
    display: none    }
html:lang(mi) .link:not(.linkflair-misc) {
    display: none    }
html:lang(mo) .link:not(.linkflair-mod) {
    display: none    }
/* End link flair - danodemano 20140825 */
.flair-westindies {
    background: url(%%WestIndies%%) center left no-repeat !important
    }
.flair-srilanka {
    background: url(%%SriLanka%%) center left no-repeat !important
    }
.flair-india {
    background: url(%%India%%) center left no-repeat !important
    }
.flair-canada {
    background: url(%%Canada%%) center left no-repeat !important
    }
.flair-newzealand {
    background: url(%%NewZealand%%) center left no-repeat !important
    }
.flair-bangladesh {
    background: url(%%Bangladesh%%) center left no-repeat !important
    }
.flair-netherlands {
    background: url(%%Netherlands%%) center left no-repeat !important
    }
.flair-zimbabwe {
    background: url(%%zimbabwe%%) center left no-repeat !important
    }
.flair-scotland {
    background: url(%%scotland%%) center left no-repeat !important
    }
.flair-australia {
    background: url(%%australia%%) center left no-repeat !important
    }
.flair-pakistan {
    background: url(%%pakistan%%) center left no-repeat !important
    }
.flair-kenya {
    background: url(%%kenya%%)center left no-repeat !important
    }
.flair-safrica {
    background: url(%%SouthAfrica%%) center left no-repeat !important
    }
.flair-england {
    background: url(%%england%%) center left no-repeat !important
    }
.flair-wales {
    background: url(%%wales%%) center left no-repeat !important
    }
.flair-USA {
    background: url(%%USA%%) center left no-repeat !important
    }
.flair-afghanistan {
    background: url(%%afghanistan%%) center left no-repeat !important
    }
.flair-ireland {
    background: url(%%ireland%%) center left no-repeat !important
    }
/* end flair */
