/* replace "readers" */
/* danodemano edit 20140821 */
/*Subscribers*/
.subscribers .word {
display: none;
}
.subscribers .number::after {
content: " Subscribed Turkers";
}
/*users here now*/
.users-online .word {
display: none;
}
.users-online .number::after {
content: " Turkers here now";
}
/* End danodemano edit 20140821 */
/*Flair*/
/* Begin link flair - danodemano 20140828 */
.linkflairlabel { max-width: 100%; }
.linkflair-discussion .linkflairlabel {
background-color: #C1F8A5;
font:Arial;
font-size: 11px;
font-weight: bold;
color:#000000;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
.linkflair-advice .linkflairlabel {
background-color: #94FF9D;
font:Arial;
font-size: 11px;
font-weight: bold;
color:#000000;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
.linkflair-qualhit .linkflairlabel {
background-color: #66FFA3;
font:Arial;
font-size: 11px;
font-weight: bold;
color:#000000;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
.linkflair-scriptssoftware .linkflairlabel {
font:Arial;
background-color: #D28AFF;
font-size: 11px;
font-weight: bold;
color:#000000;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
.linkflair-requestorhelp .linkflairlabel {
font:Arial;
background-color: #FFB361;
font-size: 11px;
font-weight: bold;
color:#000000;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
.linkflair-requestorannouncement .linkflairlabel {
font:Arial;
background-color: #FF8652;
font-size: 11px;
font-weight: bold;
color:#000000;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
.linkflair-watercooler .linkflairlabel {
font:Arial;
background-color: #C0EDF2;
font-size: 11px;
font-weight: bold;
color:#000000;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
.linkflair-articleblog .linkflairlabel {
font:Arial;
background-color: #5A73F2;
font-size: 11px;
font-weight: bold;
color:#ffffff;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
.linkflair-misc .linkflairlabel {
font:Arial;
background-color: #EBEBEB;
font-size: 11px;
font-weight: bold;
color:#000000;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
.linkflair-mod .linkflairlabel {
font:Arial;
background-color: #EEFF38;
font-size: 11px;
font-weight: bold;
color:#000000;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
.linkflair-reject .linkflairlabel {
font:Arial;
background-color: #FF0000;
font-size: 11px;
font-weight: bold;
color:#000000;
border-color: #000000;
border-width: 1px;
border-radius: 3px;
}
html:lang(di) .link:not(.linkflair-discussion) {
    display: none    }
html:lang(ad) .link:not(.linkflair-advice) {
    display: none    }
html:lang(qh) .link:not(.linkflair-qualhit) {
    display: none    }
html:lang(ss) .link:not(.linkflair-scriptssoftware) {
    display: none    }
html:lang(rh) .link:not(.linkflair-requestorhelp) {
    display: none    }
html:lang(ra) .link:not(.linkflair-requestorannouncement) {
    display: none    }
html:lang(wc) .link:not(.linkflair-watercooler) {
    display: none    }
html:lang(ab) .link:not(.linkflair-articleblog) {
    display: none    }
html:lang(mi) .link:not(.linkflair-misc) {
    display: none    }
html:lang(mo) .link:not(.linkflair-mod) {
    display: none    }
html:lang(re) .link:not(.linkflair-reject) {
    display: none    }
/* End link flair - danodemano 20140828 */
.flair-westindies {
    background: url(%%WestIndies%%) center left no-repeat !important
    }
.flair-srilanka {
    background: url(%%SriLanka%%) center left no-repeat !important
    }
.flair-india {
    background: url(%%India%%) center left no-repeat !important
    }
.flair-canada {
    background: url(%%Canada%%) center left no-repeat !important
    }
.flair-newzealand {
    background: url(%%NewZealand%%) center left no-repeat !important
    }
.flair-bangladesh {
    background: url(%%Bangladesh%%) center left no-repeat !important
    }
.flair-netherlands {
    background: url(%%Netherlands%%) center left no-repeat !important
    }
.flair-zimbabwe {
    background: url(%%zimbabwe%%) center left no-repeat !important
    }
.flair-scotland {
    background: url(%%scotland%%) center left no-repeat !important
    }
.flair-australia {
    background: url(%%australia%%) center left no-repeat !important
    }
.flair-pakistan {
    background: url(%%pakistan%%) center left no-repeat !important
    }
.flair-kenya {
    background: url(%%kenya%%)center left no-repeat !important
    }
.flair-safrica {
    background: url(%%SouthAfrica%%) center left no-repeat !important
    }
.flair-england {
    background: url(%%england%%) center left no-repeat !important
    }
.flair-wales {
    background: url(%%wales%%) center left no-repeat !important
    }
.flair-USA {
    background: url(%%USA%%) center left no-repeat !important
    }
.flair-afghanistan {
    background: url(%%afghanistan%%) center left no-repeat !important
    }
.flair-ireland {
    background: url(%%ireland%%) center left no-repeat !important
    }
/* end flair */
